<div>
  <button type="button" class="btn btn-outline-secondary btn-block dropdown-toggle" data-toggle="dropdown">
    {{#if filterCondition.category}}
    {{filterCondition.category}}
    {{else}}
    類別
    {{/if}}
  </button>
  <div class="dropdown-menu">
    {{#each categoryInfo}}
    <a class="dropdown-item" href="/filter/{{this}}">{{this}}</a>
    {{/each}}


  </div>
</div>