<div class="btn-group">
  {{filterCondition.month}}
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    {{#if filterCondition.month}}
    {{filterCondition.month}} 月
    {{else}}
    月份
    {{/if}}

  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/filter/01">01</a>
    <a class="dropdown-item" href="/filter/02">02</a>
    <a class="dropdown-item" href="/filter/03">03</a>
    <a class="dropdown-item" href="/filter/04">04</a>
    <a class="dropdown-item" href="/filter/05">05</a>
    <a class="dropdown-item" href="/filter/06">06</a>
    <a class="dropdown-item" href="/filter/07">07</a>
    <a class="dropdown-item" href="/filter/08">08</a>
    <a class="dropdown-item" href="/filter/09">09</a>
    <a class="dropdown-item" href="/filter/10">10</a>
    <a class="dropdown-item" href="/filter/11">11</a>
    <a class="dropdown-item" href="/filter/12">12</a>
  </div>
</div>