html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans TC', sans-serif, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.font-total {
  font-size: 5em;
}

.record-font-color {
  color: rgb(255, 91, 45);
}

a[href='/records/new'] {
  background-color: rgb(255, 91, 45);
  color: white;
}

button.dropdown-toggle::after {
  margin-left: 6.255em;
}

#records-list > li:nth-child(odd) .media-body {
  background-color: rgb(244, 243, 244);
}

i.fas {
  color: rgb(122, 211, 225);
}
